<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deleted</key>
	<array>
		<string>62E9487B-357C-44FD-908E-D707018A9C77</string>
		<string>1EC51EA9-09DE-4F3C-A2EC-D508FDED45CE</string>
	</array>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>A07F77FF-4B7D-4F0C-A92A-3A9FC7A23BF7</string>
			<string>B850BA22-DC96-4CAD-B19C-501D63E39920</string>
			<string>54455BAD-46AE-4FD8-84B5-70667324A608</string>
			<string>37BD3BCF-3C8E-4C49-8A9A-7681396A1C07</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>37BD3BCF-3C8E-4C49-8A9A-7681396A1C07</key>
			<dict>
				<key>items</key>
				<array>
					<string>A46B5E7C-25AF-4C64-B50B-C6A5C772530D</string>
					<string>FB1CE70C-D821-4AB5-8F13-A3F87A722F79</string>
				</array>
				<key>name</key>
				<string>Other</string>
			</dict>
			<key>54455BAD-46AE-4FD8-84B5-70667324A608</key>
			<dict>
				<key>items</key>
				<array>
					<string>B3824F78-AA62-4591-A545-D3922FC8DC6D</string>
					<string>51FCA685-3CC2-48B2-809E-E98B77670736</string>
					<string>97D656AC-C700-4C5B-B46F-2D86DF52F825</string>
				</array>
				<key>name</key>
				<string>Refactorings</string>
			</dict>
			<key>A07F77FF-4B7D-4F0C-A92A-3A9FC7A23BF7</key>
			<dict>
				<key>items</key>
				<array>
					<string>6D0CEBCE-33B6-494A-9D31-DD7C219D9F26</string>
					<string>2CAFDDFD-DE9B-4B2E-84CE-6BFDB7B3680E</string>
				</array>
				<key>name</key>
				<string>Start</string>
			</dict>
			<key>B850BA22-DC96-4CAD-B19C-501D63E39920</key>
			<dict>
				<key>items</key>
				<array>
					<string>9E750420-554B-46C4-B0BE-7737A1954F13</string>
				</array>
				<key>name</key>
				<string>Validate</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>ENSIME</string>
	<key>ordering</key>
	<array>
		<string>6D0CEBCE-33B6-494A-9D31-DD7C219D9F26</string>
		<string>2CAFDDFD-DE9B-4B2E-84CE-6BFDB7B3680E</string>
		<string>FB1CE70C-D821-4AB5-8F13-A3F87A722F79</string>
		<string>A46B5E7C-25AF-4C64-B50B-C6A5C772530D</string>
		<string>51FCA685-3CC2-48B2-809E-E98B77670736</string>
		<string>B3824F78-AA62-4591-A545-D3922FC8DC6D</string>
		<string>97D656AC-C700-4C5B-B46F-2D86DF52F825</string>
		<string>9E750420-554B-46C4-B0BE-7737A1954F13</string>
	</array>
	<key>uuid</key>
	<string>9E4241B8-5F30-4EF8-B90C-073180284436</string>
</dict>
</plist>
