<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>ENSIME</string>
	<key>ordering</key>
	<array>
		<string>62E9487B-357C-44FD-908E-D707018A9C77</string>
		<string>23394602-62B5-46A1-BC33-B1C46C5A40F2</string>
		<string>2CAFDDFD-DE9B-4B2E-84CE-6BFDB7B3680E</string>
		<string>1EC51EA9-09DE-4F3C-A2EC-D508FDED45CE</string>
		<string>9E750420-554B-46C4-B0BE-7737A1954F13</string>
	</array>
	<key>uuid</key>
	<string>9E4241B8-5F30-4EF8-B90C-073180284436</string>
</dict>
</plist>
